:root{
    --color-bg: #272b3f;
    --color-fg: #eff5f4;
    --font-1: Verdana, sans-serif;
    --font-2: Georgia, serif;
}

body{
    font-family: var(--font-1);
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: all 1s;
}

.mode{
    z-index: 1;
    position:fixed;
    top: 1;
    left: 1;
}

.switch {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
}

.switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
}

.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background: #272b3f;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
                inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

.switch input:checked + span {
    background: #ebebeb; 
}

.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .5s;
}

.switch input:checked + span:before {
    left: 34px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);

}


/*------------------------------------------*/


section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

section button{
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: none;
    box-shadow: none;
    font-size: large;
    padding: 10px 25px;
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
}
/* section button span{
    width: 100%;
    height: 100%; 
    padding: 10px 25px;
} */

section button::before, 
section button::after
{
    content: '';
    background-color: var(--color-fg);
    position: absolute;
    width: 3px;
    height: 0;
    transition: all 0.5s;
}
section button::before{
    top: 0;
    left: 0;
}
section button::after{
    top: 0;
    right: 0;
}

section button span::before, 
section button span::after
{
    content: '';
    background-color: var(--color-fg);
    position: absolute;
    width: 0;
    height: 3px;
    transition: all 0.5s;
}
section button span::before{
    top: 0;
    left: 0;
}
section button span::after{
    bottom: 0;
    right: 0;
}


section button:hover::before, 
section button:hover::after
{
    height: 100%;
}
section button:hover > span::before,
section button:hover > span::after
{
    width: 100%;
}
section button:hover{
    cursor: pointer;
    background-color: var(--color-bg);
    color: var(--color-fg);
}



.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 2s, opacity 2s;
  }
  
  .show{
    opacity: 1;
    transform: translateX(0);
  }

.modal{
    position: fixed;
    display: grid;
    place-items: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s;
}


.modalContent{
    background-color: #eff5f4;
    color: #272b3f;
    padding: 25px;
    text-align: center;
    max-width: 25%;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
}

.close{
    text-align: end;
}

.close svg:hover{
    color: red;
    cursor: pointer;
}

#equa3mod input{
    width: 50px;
}

#form3sys{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#form3sys div{
    display: flex;
    flex-direction: column;
}




/* ads css */

#adBigBox{
    display: none; 
    justify-content: center; 
    align-items: center;
    transition: all 1s;
}

.adbox, .adClosed{
    position: fixed; 
    bottom: 0; 
    z-index: 0;
    text-align: center;
}

.adClosed div{
    position: relative;
    bottom: 40px;
}

.adbox svg, .adClosed svg{
    position: relative; 
    bottom: 80px; 
    left: 700px; 
    z-index: 2;
    color: #6BB7D2;
    aspect-ratio: 1 / 1;
    width: 15px;
    height: 15px;
}

.adbox svg{
    background-color: white;
}

.adClosed{
    background-color: #FAF9FA;
    padding: 0px 200px 0px 190px;
    /* display: none; */
    height: 100px;
    margin: 0px -20px 3px 0px;
}

.adClosed h2{
    color: #a1a1a1;
    font-weight: normal;
}
.adClosed h2 b{
    color: #a0a0a0;
    font-weight: bold;
}

.adClosed a{
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    box-shadow: -1px 1px 5px -1px rgba(53,51,51,0.56);
}

.adClosed svg{
    width: 24px;
    height: 24px;
    top: 45px;
    left: -330px;
}

.adClosed svg{
    cursor: pointer;
}

#reportAd{
    background-color: #4285F5;
    color: white;
}
#reportAd:hover{
    background-color: #317cff;
}

#whyAd{
    color: black;
}
#whyAd:hover{
    background-color: #f1f1f1;
}

.adbox svg:hover{
    cursor: pointer;
}

.adbox img, .adClosed img{
    width: 700px;
    height: 100px;
}
